doctype html
html
  head
    title 채팅봇
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .chat-container
      header.chat-header
        h1 채팅봇
        span.username= username
        a.logout-btn(href="/logout") 로그아웃
      #chat-messages
      .input-area
        form#chat-form
          input#message(type="text" placeholder="메시지를 입력하세요...")
          button(type="submit") 전송

    script(src="/javascripts/chat.js")