extends layout

block content
  .login-container
    h1 로그인
    form(action="/login" method="POST")
      .form-group
        label(for="username") 사용자명
        input#username(type="text" name="username" required)
      .form-group
        label(for="password") 비밀번호
        input#password(type="password" name="password" required)
      button(type="submit") 로그인